@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

[data-theme="light"] {
  --primary: #2C4251;
  --secondary: #d31a57;
  --background: #ecf1f7;
  --dark: #ffffff;
  --light: #e2e2e7;
}

// Dark theme colors
[data-theme="dark"] {
  --primary: #ACBAC7;
  --secondary: #FACF5A;
  --background: #22272D;
  --dark: #2D333B;
  --light: #e2e2e7;
}

@import "bootstrap";
// Rest of your styles using the CSS custom properties
body {
  font-family: 'Sofia', sans-serif;
  background-color: var(--background);
  color: var(--primary);
}

// Override Bootstrap variables with custom color palette
$btn-border-radius: 0.5rem;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sofia', sans-serif;
}
a{
  color: var(--primary);
}

// FORM STYLES
.card {
  background-color: var(--dark);
  border: var(--dark) 1px solid;
  border-radius: 15px;
  margin-top: -10%;
}

.card-title {
  color: var(--secondary);
}

.form-check-label,
.form-label
{
  color: var(--primary);
}

.button {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

// NAV BAR STYLES
.navbar-floating {
  position: relative;
  margin-top: 50px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  border-radius: 15px;
  z-index: 100;
  background-color: var(--dark);
}

.navbar-header .navbar-brand {
  margin-left: 30px;
  color: var(--secondary);
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 110px;
}

.navbar-floating .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: var(--primary);
}

.nav-link:hover {
  color: var(--secondary);
}

.nav-item {
  margin: 0 10px;
}

@media (max-width: 1000px) {
  .navbar-floating {
    width: 90% !important;
  }
}
